/* Body Copy
Font size: 13px
Font
Family: Barlow Semi Condensed
Weights: 500, 600 

font-family: 'Barlow Semi Condensed', sans-serif;*/

:root {
  /* Prmary */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  /* Neutral */
  --light-grey: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  /* Sizes */
  --xxs: 0.4rem;
  --xs: 0.8rem;
  --sm: 1.6rem;
  --md: 2.4rem;
  --lg: 3.2rem;
  --xl: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--light-grayish-blue);
}

.grid {
  display: grid;
  width: fit-content;
  position: relative;
  margin: auto;
  gap: 20px;
  margin-top: 40px;
}

.grid-item {
  width: 326px;
  padding: var(--lg);
  border-radius: 10px;
}
img.decor {
  position: absolute;
  top: 0;
  right: 0;
}
.grid-item-1 {
  background-color: var(--moderate-violet);
}

.grid-item-2 {
  background-color: var(--very-dark-grayish-blue);
}

.grid-item-3,
.grid-item-5 {
  background-color: white;
}
.grid-item-4 {
  background-color: var(--Very-dark-blackish-blue);
}

.user-details {
  display: flex;
  align-items: center;
  gap: var(--sm);
  margin-bottom: var(--xs);
}
.description-title {
  line-height: 25px;
  margin-bottom: var(--md);
}

.user-details img {
  border: 2px solid hsla(0, 0%, 81%, 0.598);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.grid-item-4 .user-details img {
  border: 2px solid var(--moderate-violet);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.user-name,
.description-title {
  color: rgb(255, 255, 255);
}

.status,
.description-text {
  color: rgba(211, 211, 211, 0.557);
  font-size: 1.2rem;
  line-height: 20px;
}

.grid-item-3 .user-details img {
  border: 2px solid hsla(0, 0%, 81%, 0);
}

.grid-item-3 .user-name,
.grid-item-3 .description-title,
.grid-item-5 .description-title,
.grid-item-5 .user-name {
  color: hsla(217, 30%, 14%, 0.776);
}

.grid-item-3 .status,
.grid-item-3 .description-text,
.grid-item-5 .description-text,
.grid-item-5 .status {
  color: hsla(217, 19%, 35%, 0.577);
}

@media (min-width: 69.5em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    width: 1100px;
  }
  .grid-item {
    width: auto;
    height: 282px;
  }

  .grid-item-1 {
    grid-column: 1/3;
  }

  .grid-item-3 {
    grid-row: 2/3;
  }

  .grid-item-5 {
    grid-column: 4/5;
    grid-row: 1/3;
    width: auto;
    height: auto;
  }
  .grid-item-4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}
